@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #243b55;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c6491;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fdb913;
}

html {
  height: 100%;
}

.logo {
  background-size: 30% 30%;
  float: right;
  max-width: 500px;
  padding-top: 24px;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #243b55;
  font-family: 'Exo', sans-serif;
}
.main-box {
  padding-top: 20px;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #0F1823;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  font-family: 'Exo', sans-serif;
}
.main-box h2,
h3 {
  margin: 0 0 30px;
  padding: 0;
  color: #fdb913;
  text-align: center;
}
.main-box .user-box {
  position: relative;
}
.main-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fdb913;
  outline: none;
  background: transparent;
  font-family: 'Exo', sans-serif;
  align-items: center;
  text-align: center;
}
.main-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.main-box .user-box input:focus~label,
.main-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #fdb913;
  font-size: 12px;
}
.main-box form .animacao {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fdb913;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin-left: 20%;
  margin-right: 20%;
  transition: .5s;
  letter-spacing: 4px
}
.main-box .animacao:hover {
  background: #fdb913;
  color: #0F1823;
  border-radius: 5px;
  box-shadow: 0 0 5px #fdb913,
    0 0 25px #fdb913,
    0 0 50px #fdb913,
    0 0 100px #fdb913;
}
.main-box .animacao span {
  position: absolute;
  display: block;
}
.main-box .animacao span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fdb913);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.main-box .animacao span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fdb913);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.main-box .animacao span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fdb913);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}
.main-box .animacao span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fdb913);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}
#InputIp {
  text-align: center;
}
#input1 {
  text-align: center;
}

#input2 {
  text-align: center;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

select {
  position: relative;
  display: inline-block;
  margin-bottom: 8%;
  margin-top: 5%;
  width: 100%;
}

.select select {
  font-family: 'Exo', sans-serif;
  font-size: medium;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 2px solid #fdb913;
  border-radius: 31px;
  background: #0F1823;
  color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}

.select select:hover,
.select select:focus {
  color: #fdb913;
  background: #0F1823;
}

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select select:hover~.select_arrow,
.select select:focus~.select_arrow {
  border-color: #000000;
}

.select select:disabled~.select_arrow {
  border-top-color: #cccccc;
}

.select option {
  text-align: center;
  border-radius: 20px;
  font-family: 'Exo', sans-serif;

}




.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 15px;
  padding-top: 1px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: -3px;
  left: 0;
  height: 21px;
  width: 23px;
  background: #0F1823;
  border: 2px solid #fdb913;
  border-radius: 3px;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
  background: #0F1823;
}

.control input:checked~.control_indicator {
  background: #0F1823;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
  background: #0F1823;
}

.control input:disabled~.control_indicator {
  background: #ffffff;
  opacity: 0.6;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked~.control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 9px;
  top: 3px;
  width: 4px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
  border-color: #0F1823;
}

.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.5;
  z-index: 99999;
  transform: scale(0);
}

@keyframes s-ripple {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.control-checkbox input+.control_indicator::before {
  animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked+.control_indicator::before {
  animation-name: s-ripple-dup;
}

.control-group {
  color: white;
}

.main-box .titulo_link {
  color: #fdb913;
  text-decoration-line: initial;
}

.main-box .titulo_link:hover{
  color: #0f1823;
  border-radius: 20px;
  background-color: #fdb913;
  border: 1px solid #fdb913;
  box-shadow: 0 0 5px #fdb913,
    0 0 25px #fdb913,
    0 0 50px #fdb913,
    0 0 100px #fdb913;
}

details {
  margin: 40px;
}
summary {
  writing-mode: vertical-lr;
  text-align: center;
  padding: 15px 40px;
  width: 40px;
  height: 40px;
  background-color: var(--primColor);
  border: 2px solid var(--secoColor);
  border-radius: 20px;
  color: white;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: transform 200ms ease-in-out 0s;
  transform: scale(2.1);
  position: fixed;
}
summary::before,
summary::after {
  position: static;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-color: white;
}
summary::before {
  content: "";

}
summary::after {
  content: "III";
  letter-spacing: -1px;
}
summary:hover {
  transform: scale(3.1);
  color: #fdb913;
}
summary::marker {
  font-size: 0;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .menu {
  animation-name: menuAnim;
}
details[open] summary::before {
  content: "X";
}
details[open] summary::after {
  content: "";
}
.menu {
  margin-left: 55px;
  padding-top: 24px;
  position: fixed;
  height: 0;
  width: fit-content;
  border-radius: 20px;
  background-color: #243b55;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  animation: closeMenu 300ms ease-in-out forwards;
}
.menu a {
  padding: 12px 40px;
  margin: 0 16px;
  color: white;
  border-bottom: 2px solid #fdb913;
  text-decoration: none;
  text-align: center;
  transition: filter 200ms linear 0s;
}
.menu a:nth-of-type(1) {
  padding-top: 24px;
}
.menu a:nth-last-of-type(1) {
  border-bottom: none;
}
.menu a:hover {
  color: #fdb913;
}

details[open]::before {
  animation: fadeMe 300ms linear forwards;
}
@keyframes menuAnim {
  0% {
    height: 0;
  }
  100% {
    height: 312px;
  }
}
@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

header{
    height: auto;
}

.navigation{
  display: flex;
  justify-content: left;
  align-items:flex-start;
  min-height: 190vh;
  position: absolute;
  background: #243b55; 
  width: 40px;
  box-shadow: 10px 0 0 #3c6491; 
  border-left: 10px solid #243b55;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1000; 
}

.navigation:hover{
    width: 200px;
    z-index: 1000;
}

.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
  padding-top: 30px;
}
.navigation ul li{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.navigation ul li a{
  position: relative;
  font-weight: bold;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #fff;
}
.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 40px;
  height: 30px;
  text-align: center;
  line-height: 70px;
}
.navigation ul li a .icon ion-icon{
  position: relative;
  font-size: 1.5rem;
  z-index: 1000;
}
.navigation ul li a .title{
  position: relative;
  display: block;
  padding-left: 20px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.navigation ul li.active{
  background-color: #3c6491;
}

.navigation ul li.active a::before{
  content: '';
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px; 
  height: 30px;
  background: #243b55;
  border-radius: 50%;
  box-shadow: 15px 15px 0 #3c6491;
}
.navigation ul li.active a::after{
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px; 
  height: 30px;
  background: #243b55;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #3c6491;
}


#main-bar-section{
    padding: 2%;
}

#main-bar-section h1{
    text-align: center;
    color: #fcba12;
}

.main-bar-container{
    background: #0F1823;
    padding: 40px;    
    width: 60%;
    margin: 20px auto;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 50px;
}

.progress{
    width: 100%;
    height: 18px;
    background-color: gray;
    border-radius: 10px;
}

.progress .progress-bar{
    width: 50%;
    height: 100%;
    background-color: #3c6491;
    border-radius: 10px;
    position: relative;
    transition: all .5s;
}

.progress-bar span{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-weight: bold;

}

.main-bar-container p{
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}


.vagas-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    width: 100%;
}

.vagas-container{
    background: #0F1823;
    padding: 40px;    
    width: 20%;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.vagas-container p{
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.btn{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    font-weight: 700;
    font-size: 0.8rem;
    transition: 1s ease-in;
}
